
          <div class="latest-posts">
            {% if site.latest_posts != blank -%}
            {%- assign latest_posts_size = site.posts | size -%}
              {%- assign latest_posts = site.posts -%}
              {% if site.latest_posts.limit %}
              {% assign latest_posts_limit = site.latest_posts.limit %}
              {% else %}
              {% assign latest_posts_limit = latest_posts_size %}
              {% endif %}
              {% for item in latest_posts limit: latest_posts_limit %}
                <div class="post-card">
                  <div class="post-card-date">{{ item.date | date: "%b %-d, %Y" }}</div>
                  <div class="post-card-body">
                    {% if item.redirect == blank %}
                      <a href="{{ item.url | relative_url }}">
                    {% elsif item.redirect contains '://' %}
                      <a href="{{ item.redirect }}" target="_blank">
                    {% else %}
                      <a href="{{ item.redirect | relative_url }}">
                    {% endif %}
                      <h3 class="post-card-title">{{ item.title }}</h3>
                    </a>
                    {% if item.description %}
                      <p class="post-card-desc">{{ item.description }}</p>
                    {% endif %}
                  </div>
                </div>
              {%- endfor %}
          {%- else -%}
            <p>No posts so far...</p>
          {%- endif %}
          </div>
